<%- include('partials/header') %>
<link rel="stylesheet" href="css/style-failure.css" />
<title>Błąd logowania</title>
<%- include('partials/body') %>
<div class="jumbotron jumbotron-fluid ">
    <div class="container">
        <h1 class="display-4">Błąd logowania</h1>
        <p class="lead">Proszę sprawdź swoje dane.</p>
        <a class="btn btn-dark" href='/login'>Powrót</a>
    </div>
</div>