<%- include('partials/header') %>
<link rel="stylesheet" href="css/style.css" />
<title>Warhammer Poznań</title>
<%- include('partials/body') %>

<section class="home-page">
  <div class="photo"><img class="logo" src="../img/warhammer_logo3.png" /></div>
  <div class="container">
    <div class="buttons">
      <a href="/social"
        ><button type="button" id="About" class="btn btn-outline-light btn-lg">
          O Warhammerze
        </button></a
      >
      <a href="login">
        <button
          type="button"
          id="Tournament"
          class="btn btn-outline-light btn-lg"
        >
          Turniej
        </button></a
      >

      <a href="/generator">
        <button
          type="button"
          id="Generator"
          class="btn btn-outline-light btn-lg"
        >
          Generator misji
        </button></a
      >
      <a>
        <button
          type="button"
          id="Killteam"
          class="btn btn-outline-light btn-lg"
        >
          Kill Team <br /><span id="desc-KT">Wkrótce</span>
        </button></a
      >
    </div>
  </div>
</section>
<%- include('partials/footer') %>
