<%- include('partials/header') %>
<link rel="stylesheet" href="css/style-social.css" />
<title>Warhammer Poznań</title>
<%- include('partials/body') %>
<nav
  class="navbar navbar-expand-lg navbar-fixed-top"
  data-toggle="sticky-onscroll"
>
  <a class="navbar-brand" href="/">
    <img src="img/warhammer_logo_bez.png" width="240" height="60" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#About">O nas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Events">Wydarzenia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Place">Gdzie grać?</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <section id="About">
    <header>
      <h3 class="heading">O nas</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
        condimentum ex sed sollicitudin pellentesque. Ut tincidunt sem dignissim
        tellus euismod, sed scelerisque leo elementum. Nullam rutrum nisl sit
        amet neque molestie, a pulvinar enim blandit. Suspendisse posuere semper
        augue vitae ultricies. Aliquam condimentum facilisis ipsum eget viverra.
        Duis vitae semper enim.
      </p>
    </header>
  </section>
  <section id="Events">
    <h3 class="heading">Wydarzenia</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum
      ex sed sollicitudin pellentesque. Ut tincidunt sem dignissim tellus
      euismod, sed scelerisque leo elementum.
      <br />
      Vivamus maximus urna quis enim feugiat suscipit. Donec viverra mollis
      lectus viverra bibendum. Pellentesque fringilla tempor malesuada. Vivamus
      non ex aliquam, aliquet orci ut, vestibulum augue. Mauris id aliquet
      sapien. Integer dictum diam lectus, id ullamcorper nibh vulputate in.
      Maecenas in imperdiet tellus, eu semper lacus. Suspendisse tellus leo,
      sagittis id diam at, euismod elementum lectus. Maecenas molestie
      condimentum urna, in pulvinar lorem porttitor ac.
    </p>
  </section>
  <section id="Place">
    <h3 class="heading">Gdzie grać?</h3>
    <div class="container">
      <div class="row">
        <p class="col-md-10">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          condimentum ex sed sollicitudin pellentesque. Ut tincidunt sem
          dignissim tellus euismod, sed scelerisque leo elementum.
        </p>
      </div>
      <div class="row">
        <p class="col-md-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          condimentum ex sed sollicitudin pellentesque. Ut tincidunt sem
          dignissim tellus euismod, sed scelerisque leo elementum.
        </p>
        <p class="col-md-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          condimentum ex sed sollicitudin pellentesque. Ut tincidunt sem
          dignissim tellus euismod, sed scelerisque leo elementum.
        </p>
      </div>
      <div class="row">
        <p class="col-md-10">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          condimentum ex sed sollicitudin pellentesque. Ut tincidunt sem
          dignissim tellus euismod, sed scelerisque leo elementum.
        </p>
      </div>
    </div>
  </section>
</div>
<%- include('partials/footer') %>
