<%- include('partials/header') %>
    <p>Niepoprawne dane, proszę spróbuj jeszcze raz</p>
    <a href="/login"> <button type="button" id="Tournament" class="btn btn-outline-light btn-lg">Turniej</button></a>

    <%- include('partials/footer') %>