* {
    font-family: 'Righteous', cursive;
}

.info {
    height: calc(100vh);
    background-image: url(../img/tournament-player.jpg);
    font-family: 'Righteous', cursive;
}

.navbar {
    background-color: black;

    a {

        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.4rem;
    }

    a:hover {
        color: yellow;
    }

    ul {
        li {
            margin-right: 25px;
        }
    }
}

.navbar-toggler-icon {
    color: white;
}

.ranking {
    text-align: center;
    padding-top: 5%;

    p {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1000px) {

    #logoutButton {
        padding-left: 0;
    }
}

@media screen and (max-width: 425px) {
    .ranking {
        font-size: 2rem;
    }

}